
<!DOCTYPE html>
<html>
    <head>
        <title>Leaderboard</title>
        <link rel="stylesheet" type="text/css" href="/css/navbar.css">
        <link rel="stylesheet" type="text/css" href="/css/leaderboard.css">
        <link rel="icon" href="/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <span id = "navLogo" onclick="window.location = '/'">CW</span>
            <ul class = "navLinks">
                <li id = "cross"></li>
                <li><a href = "/techathlon/">About</a></li>
                <li><a href = "/techathlon/play">Play</a></li>
                <li id = "selectedLink"><a href = "#">Leaderboard</a></li>
                <li><a href = "https://discord.gg/uG6pzB9" target="_blank">Discord</a></li>
                <li id = "logoutImg"><img src = "/images/logout.png" onclick = "window.location='/techathlon/logout'"></li>
                <li id = "logoutText"><a href = "/techathlon/logout">Log out</a></li>
            </ul>
            <div id="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
        <div class="Container">
            <table>
                <tr>
                    <th>Rank</th><th>Username</th><th>Level</th>
                </tr>
                
                <tr>
                    <td>hm</td>
                    <td>ujjujjuj</td>
                    <td>42</td>
                </tr>    
                
                <tr>
                    <td>hm</td>
                    <td>Melloverick</td>
                    <td>42</td>
                </tr>    
                
                <tr>
                    <td>hm</td>
                    <td>duvylfyluksq(MOD)</td>
                    <td>42</td>
                </tr>    
                
                <tr>
                    <td>hm</td>
                    <td>Thanlords</td>
                    <td>42</td>
                </tr>    
                
                <tr>
                    <td>hm</td>
                    <td>Ishn</td>
                    <td>42</td>
                </tr>    
                
                <tr class ="win">
                    <td>1</td>
                    <td>Medhavi</td>
                    <td>8</td>
                </tr>    
                
                <tr>
                    <td>2</td>
                    <td>AceX(NC)</td>
                    <td>6</td>
                </tr>    
                
                <tr class ="win">
                    <td>3</td>
                    <td>Eesh121</td>
                    <td>5</td>
                </tr>    
                
                <tr class ="win">
                    <td>4</td>
                    <td>Abhidark289</td>
                    <td>5</td>
                </tr>    
                
                <tr>
                    <td>5</td>
                    <td>iamtintin(NC)</td>
                    <td>5</td>
                </tr>    
                
                <tr>
                    <td>6</td>
                    <td>Anmol_Saksena</td>
                    <td>5</td>
                </tr>    
                
                <tr>
                    <td>7</td>
                    <td>agarwalaswastik</td>
                    <td>4</td>
                </tr>    
                
                <tr>
                    <td>8</td>
                    <td>sagnik528491(NC)</td>
                    <td>4</td>
                </tr>    
                
                <tr>
                    <td>9</td>
                    <td>shaolink(NC)</td>
                    <td>4</td>
                </tr>    
                
                <tr>
                    <td>10</td>
                    <td>battlemonger(NC)</td>
                    <td>4</td>
                </tr>    
                
                <tr>
                    <td>11</td>
                    <td>Malice Queen(NC)</td>
                    <td>3</td>
                </tr>    
                
                <tr>
                    <td>12</td>
                    <td>The Master(NC)</td>
                    <td>3</td>
                </tr>    
                
                <tr>
                    <td>13</td>
                    <td>cyclonite(NC)</td>
                    <td>3</td>
                </tr>    
                
                <tr>
                    <td>14</td>
                    <td>SSxRED</td>
                    <td>3</td>
                </tr>    
                
                <tr>
                    <td>15</td>
                    <td>designpr0(NC)</td>
                    <td>3</td>
                </tr>    
                
                <tr>
                    <td>16</td>
                    <td>Shantanu_unatnahS(NC)</td>
                    <td>3</td>
                </tr>    
                
                <tr>
                    <td>17</td>
                    <td>Gautam_01</td>
                    <td>3</td>
                </tr>    
                
                <tr>
                    <td>18</td>
                    <td>Mystifist(NC)</td>
                    <td>3</td>
                </tr>    
                
                <tr>
                    <td>19</td>
                    <td>COREana(NC)</td>
                    <td>3</td>
                </tr>    
                
                <tr>
                    <td>20</td>
                    <td>nado(NC)</td>
                    <td>3</td>
                </tr>    
                
                <tr>
                    <td>21</td>
                    <td>Yash Jha</td>
                    <td>3</td>
                </tr>    
                
                <tr>
                    <td>22</td>
                    <td>Papa</td>
                    <td>2</td>
                </tr>    
                
                <tr>
                    <td>23</td>
                    <td>comicsans(NC)</td>
                    <td>2</td>
                </tr>    
                
                <tr>
                    <td>24</td>
                    <td>aancwfcahoatww</td>
                    <td>2</td>
                </tr>    
                
                <tr>
                    <td>25</td>
                    <td>vibhu_mithal</td>
                    <td>2</td>
                </tr>    
                
                <tr>
                    <td>26</td>
                    <td>DeXtrasher</td>
                    <td>2</td>
                </tr>    
                
                <tr>
                    <td>27</td>
                    <td>7skies</td>
                    <td>2</td>
                </tr>    
                
                <tr>
                    <td>28</td>
                    <td>StrikeForce(NC)</td>
                    <td>2</td>
                </tr>    
                
                <tr>
                    <td>29</td>
                    <td>StormBreaker(NC)</td>
                    <td>2</td>
                </tr>    
                
                <tr>
                    <td>30</td>
                    <td>TanmayGoel_1306(NC)</td>
                    <td>2</td>
                </tr>    
                
                <tr>
                    <td>31</td>
                    <td>Analexskin</td>
                    <td>2</td>
                </tr>    
                
                <tr>
                    <td>32</td>
                    <td>SwanSong</td>
                    <td>2</td>
                </tr>    
                
                <tr>
                    <td>33</td>
                    <td>Anand</td>
                    <td>2</td>
                </tr>    
                
                <tr>
                    <td>34</td>
                    <td>Prakhar 2X20</td>
                    <td>2</td>
                </tr>    
                
                <tr>
                    <td>35</td>
                    <td>DarkBasher</td>
                    <td>2</td>
                </tr>    
                
                <tr>
                    <td>36</td>
                    <td>nsood(NC)</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>37</td>
                    <td>someshkar(NC)</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>38</td>
                    <td>ribv(NC)</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>39</td>
                    <td>Varun312</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>40</td>
                    <td>cloutchor17(NC)</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>41</td>
                    <td>Darthfire(NC)</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>42</td>
                    <td>Devdeep(NC)</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>43</td>
                    <td>pxthi(NC)</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>44</td>
                    <td>mihir_aggarwal(NC)</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>45</td>
                    <td>oorjitchowdhary(NC)</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>46</td>
                    <td>Killswitch(NC)</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>47</td>
                    <td>kuzz(NC)</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>48</td>
                    <td>Yash</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>49</td>
                    <td>GameCoder</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>50</td>
                    <td>SomYeah(NC)</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>51</td>
                    <td>Anmol_Sethia</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>52</td>
                    <td>aarnav_05</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>53</td>
                    <td>PlentyDabs</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>54</td>
                    <td>Shreyan</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>55</td>
                    <td>Paarthyadav</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>56</td>
                    <td>smartphone28(NC)</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>57</td>
                    <td>DejaVu_28(NC)</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>58</td>
                    <td>Shivanshoo</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>59</td>
                    <td>RANDUM(NC)</td>
                    <td>1</td>
                </tr>    
                
                <tr>
                    <td>60</td>
                    <td>ndureja</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>61</td>
                    <td>Yash gupta</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>62</td>
                    <td>itsyash_1227</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>63</td>
                    <td>pk_electron</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>64</td>
                    <td>Pehal</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>65</td>
                    <td>Kaianimatez</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>66</td>
                    <td>Yash </td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>67</td>
                    <td>Evilronbot</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>68</td>
                    <td>SOHIL MORIYA </td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>69</td>
                    <td>Maanya </td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>70</td>
                    <td>gaurav gaurav</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>71</td>
                    <td>Unnati</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>72</td>
                    <td>Dm2033</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>73</td>
                    <td>K1214117</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>74</td>
                    <td>Tasleema </td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>75</td>
                    <td>Nandini</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>76</td>
                    <td>Himanshi Malik</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>77</td>
                    <td>Anirudh</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>78</td>
                    <td>Ajitesh</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>79</td>
                    <td>Paavni_trivedi </td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>80</td>
                    <td>Rehan</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>81</td>
                    <td>Rehan Taneja</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>82</td>
                    <td>K1918967</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>83</td>
                    <td>Abhishek</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>84</td>
                    <td>Augustyaadityadi</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>85</td>
                    <td>neil</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>86</td>
                    <td>Archi</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>87</td>
                    <td>Manu Bansal</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>88</td>
                    <td>Alisha</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>89</td>
                    <td> Sbwuwon</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>90</td>
                    <td>Debashri</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>91</td>
                    <td>NacMeh</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>92</td>
                    <td>Javin</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>93</td>
                    <td>Ananmaya Gupta</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>94</td>
                    <td>Aishna shukla</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>95</td>
                    <td>VedicK</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>96</td>
                    <td>Radhika</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>97</td>
                    <td>Ankit kumar</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>98</td>
                    <td>JESSICA</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>99</td>
                    <td>Prachi Tiwari</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>100</td>
                    <td>Jagriti Bhatia</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>101</td>
                    <td>Max07</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>102</td>
                    <td>Viraj.sisodiya</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>103</td>
                    <td>Shoerya</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>104</td>
                    <td>MUSHEER AHMED</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>105</td>
                    <td>moon_child </td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>106</td>
                    <td>Mille Sharma</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>107</td>
                    <td>Gauri</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>108</td>
                    <td>PRABHA Kumari </td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>109</td>
                    <td>SaanviSarraf</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>110</td>
                    <td>San44</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>111</td>
                    <td>Cryptic_PhD(NC)</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>112</td>
                    <td>Drishti</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>113</td>
                    <td>Drishti Arora </td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>114</td>
                    <td>ananaygraj</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>115</td>
                    <td>Vaibhav rai</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>116</td>
                    <td>7823136</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>117</td>
                    <td>Parth</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>118</td>
                    <td>csnerd(NC)</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>119</td>
                    <td>Jaiveer singh khanuja</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>120</td>
                    <td>POTTERDOVE</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>121</td>
                    <td>Aniruddh0070 </td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>122</td>
                    <td>Lakshay_agra8</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>123</td>
                    <td>Vedant</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>124</td>
                    <td>Ruslanow</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>125</td>
                    <td>Bishu11Bolt</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>126</td>
                    <td>Tarique1</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>127</td>
                    <td>Sahil</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>128</td>
                    <td>THExULTIMATE</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>129</td>
                    <td>Shaurya@2020	</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>130</td>
                    <td>Kritin</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>131</td>
                    <td>yash</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>132</td>
                    <td>Akshra</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>133</td>
                    <td>KeshavSinDev(NC)</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>134</td>
                    <td>Arvmehra</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>135</td>
                    <td>Smith(NC)</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>136</td>
                    <td>Junk Dog</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>137</td>
                    <td>Aarav_kh</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>138</td>
                    <td>AnaPatni</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>139</td>
                    <td>ajitesh samal</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>140</td>
                    <td>comicsans(DQ)(NC)</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>141</td>
                    <td>Archit(NC)</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>142</td>
                    <td>darpan42(NC)</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>143</td>
                    <td>awesome(NC)</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>144</td>
                    <td>raju(NC)</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>145</td>
                    <td>omprakas</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>146</td>
                    <td>iamtesting</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>147</td>
                    <td>Ankit12@</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>148</td>
                    <td>Qwerty(NC)</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>149</td>
                    <td>Uhhhh(NC)</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>150</td>
                    <td>kaneki(NC)</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>151</td>
                    <td>Kapoor(NC)</td>
                    <td>0</td>
                </tr>    
                
                <tr>
                    <td>152</td>
                    <td>Parth Yadav </td>
                    <td>0</td>
                </tr>    
                
            </table>
        </div>
        <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
            const burger = document.getElementById("hamburger");
            const cross = document.getElementById("cross");
            const nav = document.querySelector(".navLinks");
            const navLinks = document.querySelectorAll(".navLinks li a");

            burger.addEventListener("click",() => {

                nav.classList.add("nav-active");
                navLinks.forEach(function(link,index){
                    link.style.opacity = 0;
                    link.style.animation = `navLinkFade 0.5s ease forwards ${index/12+0.1}s`;
                });
            });
            cross.addEventListener("click",() => {
                nav.classList.remove("nav-active");
                navLinks.forEach(function(link,index){
                    link.style.animation = "";
                    link.style.opacity = 1;
                });
            });
        </script>
    </body>
</html>