<!DOCTYPE html>
<html>
    <head>
        <title>CW Intra 2020</title>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>
    <body>
        <nav>
            <span id = logoSpan>
                Code Warriors
            </span>
            <ul id = "navElements">
                <li><a href = "#">Events</a></li>
                <li><a href = "#">Submit</a></li>
                <li><a href = "/techathlon">Techathlon</a></li>
            </ul>
        </nav>
        <div class="Container">
            <div class="intro">
                <div class="introText">
                    <span class="head">
                        Join the war.
                    </span>
                    <span class = "text">
                        We're the Code Warriors, the computer club of DPS 
                        Vasant Kunj. We're a team of technology addicts, and 
                        our skills range from gaming to designing. 
                    </span>
                    <span class = "text">
                        For the first time ever, we will be hosting an online intra 
                        and inter-school event with 8 events, open to students
                        of all ages.
                    </span>
                    <div class = "inputButtons">
                        <a href="#" class="button">Register</a>
                        <a href="#" class="button">Join Discord</a>
                    </div>
                </div>
                <img src = "/images/big.png">
            </div>
        </div>
    </body>
</html>