<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <link rel="icon" href="/favicon.png" />
        <link rel="stylesheet" href="/css/login.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <nav>
            <span class="navText" onclick="window.location = '/'">CW</span>
            <a href = "/techathlon/register">Register</a>
        </nav>
        <div class = "Container">
            <form action = "/techathlon/login" method="POST" id = "form" autocomplete="off">
                <span class = "head">Techathlon</span>
                <div id = "usernameDiv">
                    <% if(locals.error.includes("username")){%>   
                        <input type="text" class = "errorInput" placeholder="Username" name="username" autocomplete="off"><br>
                        <span class = "error">Username not found!</span>
                    <%}else{%>
                        <input type="text" placeholder="Username" name="username" autocomplete="off"><br>
                        <span class = "error">&nbsp;</span>
                    <%} %>
                </div>
                <div id = "passwordDiv">
                    <img src="/images/eyeClosed.png" id = "eye" onmousedown="mouseDown()" onmouseup="mouseUp()" ontouchstart = "mouseDown()" ontouchend="mouseUp()">
                    <% if(locals.error.includes("password")){%>
                        <input class = "errorInput" type="password" placeholder = "Password" name = "password" autocomplete="none"><br>
                        <span class = "error">Incorrect Password!</span>
                    <%}else{%>
                        <input type="password" placeholder = "Password" name = "password" autocomplete="none"><br>
                        <span class = "error">&nbsp;</span>
                    <%}%>
                </div>
                <button class="g-recaptcha" data-sitekey="6LdR_QAVAAAAAIn6C5h4kBI64Vgd_MXvhhMcLbQw" data-callback='onSubmit' data-action='submit' data-callback='onSubmit'>Login</button>
                <% if(locals.error.includes("auth")){%>   
                    <span class = "error">Please try again later</span>
                <%} %>
            </form>
            <img id = "banner" src = "/images/banda.png">
        </div>
        <script>
            const userBox = document.querySelector("#usernameDiv input");
            const passBox = document.querySelector("#passwordDiv input");
            const eye = document.getElementById("eye");
            const userErr = document.querySelector("#usernameDiv .error");
            const passErr = document.querySelector("#passwordDiv .error");   

            function mouseDown(){
                eye.src = "/images/eyeOpen.png";
                passBox.type="text";
            }

            function mouseUp(){
                eye.src = "/images/eyeClosed.png";
                passBox.type="password";
                passBox.focus()
            }

            function onSubmit(token) {
                if(userBox.value.length < 4){
                    userErr.innerHTML = "Username should be greater than 4 characters!"
                    userBox.classList.add("errorInput");
                    return
                }
                if(passBox.value.length < 6){
                    passErr.innerHTML = "Password length should be greater than 6 characters!"
                    passBox.classList.add("errorInput");
                    return
                }
                document.getElementById("form").submit();
            }    
            passBox.addEventListener("focus",() => {
                if(passBox.classList.contains("errorInput")){
                    passBox.classList.remove("errorInput");
                    passErr.innerHTML = "&nbsp;";
                }
            });
            userBox.addEventListener("focus",() => {
                if(userBox.classList.contains("errorInput")){
                    userBox.classList.remove("errorInput");
                    userErr.innerHTML = "&nbsp;";
                }
            });
        </script>
    </body>
</html>