<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Play</title>
        <link rel="icon" href="/favicon.png">
        <link rel="stylesheet" href="/css/navbar.css">
        <link rel="stylesheet" href="/css/playBefore.css">
    </head>
    <body>
        <nav>
            <span id = "navLogo" onclick="window.location = '/'">CW</span>
            <ul class = "navLinks">
                <li id = "cross"></li>
                <li><a href = "/techathlon/">About</a></li>
                <li  id = "selectedLink"><a href = "#">Play</a></li>
                <li><a href = "/techathlon/leaderboard">Leaderboard</a></li>
                <li><a href = "https://discord.gg/uG6pzB9" target="_blank">Discord</a></li>
                <li id = "logoutImg"><img src = "/images/logout.png"  onclick = "window.location='/techathlon/logout'"></li>
                <li id = "logoutText"><a href = "/techathlon/logout">Log out</a></li>
            </ul>
            <div id="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
        <div class = "container">
            <p>The hunt will start on the 28th of June at 8:42 pm.</p>
            <a href="/techathlon" class="btn gay">Go back</a>
        </div>
        <script>
            const burger = document.getElementById("hamburger");
            const cross = document.getElementById("cross");
            const nav = document.querySelector(".navLinks");
            const navLinks = document.querySelectorAll(".navLinks li a");

            burger.addEventListener("click",() => {

                nav.classList.add("nav-active");
                navLinks.forEach(function(link,index){
                    link.style.opacity = 0;
                    link.style.animation = `navLinkFade 0.5s ease forwards ${index/12+0.1}s`;
                });
            });
            cross.addEventListener("click",() => {
                nav.classList.remove("nav-active");
                navLinks.forEach(function(link,index){
                    link.style.animation = "";
                    link.style.opacity = 1;
                });
            });
        </script>
    </body>
</html>