<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/register.css">
        <link rel="icon" href="/favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <span class="navText" onclick ="window.location = '/'">CW</span>
            <a href = "/techathlon/login">Login</a>
        </nav>
        <div class = "Container">
            <form action = "/techathlon/register" method="POST" id="form" autocomplete="off">
                <span class = "head">Techathlon</span>
                <div id = "nameDiv">
                    <input type="text" placeholder="Name" name="name" autocomplete="off">
                    <span class = "error">&nbsp;</span>
                </div>
                <div id = "usernameDiv">
                    <% if(locals.error.includes("username")){%>   
                        <input type="text" class = "errorInput" placeholder="Username" name="username" autocomplete="off"><br>
                        <span class = "error">Username already exists!</span>
                    <%}else{%>
                        <input type="text" placeholder="Username" name="username" autocomplete="off">
                        <span class = "error">&nbsp;</span>
                    <%} %>
                </div>
                <div id = "emailDiv">
                    <% if(locals.error.includes("email")){%>   
                        <input type="email" class = "errorInput" placeholder="Email" name="email" autocomplete="off"><br>
                        <span class = "error">Email already exists!</span>
                    <%}else{%>
                        <input type="email" placeholder="Email" name="email" autocomplete="off">
                        <span class = "error">&nbsp;</span>
                    <%} %>
                </div>
                <div id = "passwordDiv">
                    <img src="/images/eyeClosed.png" id = "eye" onmousedown="mouseDown()" onmouseup="mouseUp()" ontouchstart = "mouseDown()" ontouchend="mouseUp()">
                    <% if(locals.error.includes("password")){%>
                        <input class = "errorInput" type="password" placeholder = "Password" name = "password" autocomplete="none"><br>
                        <span class = "error">Incorrect Password!</span>
                    <%}else{%>
                        <input type="password" placeholder = "Password" name = "password" autocomplete="none"> 
                        <span class = "error">&nbsp;</span>
                    <%}%>
                </div>
                <span class = "text">Are you a student of DPS Vasant Kunj?</span>
                <div class = "radioContainer">
                    <label>
                        <input type="radio" name="isVK" value="Yes" checked>
                        <span class="circle"></span>
                        Yes
                    </label>
                    <label>
                        <input type="radio" name="isVK" value="No">
                        <span class="circle"></span>
                        No
                    </label>
                </div>
                <button class="g-recaptcha" data-sitekey="6LdR_QAVAAAAAIn6C5h4kBI64Vgd_MXvhhMcLbQw" data-callback='onSubmit' data-action='submit' data-callback='onSubmit'>Register</button>
                <% if(locals.error.includes("auth")){%>   
                    <span class = "error">Please try again later</span>
                <%} %>
            </form>
            <img id = "banner" src = "/images/banda.png">
        </div>
        <script>
            const nameBox = document.querySelector("#nameDiv input");
            const userBox = document.querySelector("#usernameDiv input");
            const passBox = document.querySelector("#passwordDiv input");
            const emailBox = document.querySelector("#emailDiv input");
            const eye = document.getElementById("eye");
            const nameErr = document.querySelector("#nameDiv .error");
            const userErr = document.querySelector("#usernameDiv .error");
            const passErr = document.querySelector("#passwordDiv .error");
            const emailErr = document.querySelector("#emailDiv .error");

            function mouseDown(){
                eye.src = "/images/eyeOpen.png";
                passBox.type="text";
            }

            function mouseUp(){
                eye.src = "/images/eyeClosed.png";
                passBox.type="password";
                passBox.focus()
            }

            function onSubmit(token) {
                if(nameBox.value.length == 0){
                    nameErr.innerHTML = "Please enter your name!"
                    nameBox.classList.add("errorInput");
                    return
                }
                if(userBox.value.length < 4){
                    userErr.innerHTML = "Username should be greater than 4 characters!"
                    userBox.classList.add("errorInput");
                    return
                }        
                if(emailBox.value.length == 0){  
                    console.log("a");
                    emaiErr.innerHTML = "Please enter your email!";
                    
                    emailBox.classList.add("errorInput");
                    return
                }
                if(passBox.value.length < 6){
                    passErr.innerHTML = "Password length should be greater than 6 characters!"
                    passBox.classList.add("errorInput");
                    return
                }
                document.getElementById("form").submit();
            }
            nameBox.addEventListener("focus",() => {
                if(nameBox.classList.contains("errorInput")){
                    nameBox.classList.remove("errorInput");
                    nameErr.innerHTML = "&nbsp;";
                }
            }); 
            passBox.addEventListener("focus",() => {
                if(passBox.classList.contains("errorInput")){
                    passBox.classList.remove("errorInput");
                    passErr.innerHTML = "&nbsp;";
                }
            });
            userBox.addEventListener("focus",() => {
                if(userBox.classList.contains("errorInput")){
                    userBox.classList.remove("errorInput");
                    userErr.innerHTML = "&nbsp;";
                }
            });
            emailBox.addEventListener("focus",() => {
                if(emailBox.classList.contains("errorInput")){
                    emailBox.classList.remove("errorInput");
                    emailErr.innerHTML = "&nbsp;";
                }
            });                
          </script>
    </body>
</html>