@font-face {
    font-family: regular;
    src: url(/fonts/SF-Regular.ttf);
}
@font-face {
    font-family: semibold;
    src: url(/fonts/SF-Semibold.ttf);
}
@font-face {
    font-family: joker;
    src: url(/fonts/Jokerman-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    font-family: regular;
    background: #191919;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;    
}
.container{
    width:73vw;
    margin-top: 50px;
}
.hello {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;   
}
a {
    text-decoration: none;
}
.image img{
    width: 80vw;
    max-width: 600px;
}
.hello h1 {
    padding-bottom: 30px;
    font-size: 2.5em;
}
.points span, .info span{
    color: #3DB594;
}
.hello p {
    padding-right: 50px;
    padding-bottom: 30px;
    font-size: 1em;
    line-height: 1.3;
}
.hello i {
    padding-left: 5px;
}
.hello a {
    display: inline-block;
    padding-top: 10px;
    text-transform: uppercase;
    color: #3DB594;
    text-decoration: none;
    font-size: 1em;
    padding-right: 25px; 
}
.hello a:hover i {
    margin-left: 10px;
    transition: ease.5s;
}
.rules {
    margin:50px 0;
}
.head {
    color: #3DB594;
    padding-bottom: 50px;
    font-size: 25px;
}
.head h1 {
    padding-bottom: 10px;
}
.bruh {
    background: #3DB594;
    width: 80px;
    height: 3px;
}
.rules li {
    padding-bottom: 20px;
    font-size: 1.1em;
}
footer {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 25px;
}
footer p {
    padding-bottom: 20px;
    font-size: 14px;
    color: rgb(131, 131, 131);
}

footer i {
    margin: 0 7px;
    font-size: 20px;
    color: rgb(131, 131, 131);
}
@media only screen and (max-width: 1400px) {
    .rules, .hello { 
        padding: 50px 50px;             
    }
}
@media only screen and (max-width: 1200px) {
    .rules, .hello {   
        padding: 50px 100px;     
    }
    .image img{
        width: 450px;
    }
}
@media only screen and (max-width: 1000px) {
    .rules, .hello {    
        padding: 50px 50px;     
    }
}
@media only screen and (max-width: 900px) {
    *{
        margin: 0;
        padding: 0;
    }  
    .hello {
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        padding: 50px 20px;    
    }
    .hello p {
        padding: 20px 5px;
    }
    .image img{
        padding: 100px 0 0 0 ;
        width:100%;
    }
    .rules {
     padding: 40px;
    }
    .hello a {
        padding-top: 40px;
    }
}
@media only screen and (max-width: 768px) {
    .hello {
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        padding: 50px 20px;  
    }
    .hello p {
        padding: 20px 5px;
    }
    img {
        padding: 100px 0 0 0 ;
        width: 100%;
    }
    .rules {
     padding: 40px;
    }
    .hello a {
        padding-top: 40px;
    }
    .hello h1 {
        font-size: 30px;
    }
    .rules h1 {font-size: 30px;}
}
    
