@font-face {
    font-family: joker;
    src: url(/fonts/Jokerman-Regular.ttf);
}
@font-face {
    font-family: regular;
    src: url(/fonts/SF-Regular.ttf);
}
@font-face {
    font-family: semibold;
    src: url(/fonts/SF-Semibold.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: regular;
    color: white;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #191919;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
::-webkit-scrollbar{
    width:12px
}

::-webkit-scrollbar-track{
    display: none;
}
::-webkit-scrollbar-thumb{
    background-color: #363636;;
}
.Container{
    margin:50px 0;
}
table{
    border-collapse: collapse;
}
th{
    background-color: #285B4D;
    width:20vw;
    height:45px;
    font-size: 1.3em;
    text-align: center;
    font-weight:normal;
}
th:nth-child(2){
    width:40vw;
}
tr:nth-child(odd) { 
    background-color: #323232; 
}
td{
    height:50px;
    text-align: center;
    font-size: 1.2em;
    margin:15px 0 15px 0;
}

@media only screen and (max-width: 768px) {
    .Container{
        padding:0 8vw 0 8vw;
    }
    th{
        font-size: 1.1em;
        height: 40px;
    }
    td{
        font-size: 1em;
    }
}